
  @font-face {
    font-family: Forum-Regular;
    src: url(fonts/Forum-Regular.ttf);
  }
  *{
    background-color: #97A591;
  }
  	div {
    font-family: Forum-Regular;
    color: #DCD3C6;
    color: #DCD3C6;
    margin: auto;
    height: 50%;
    border: 20px solid #74BC9C;
    font-size: 50px;
    text-align: center;
    background-color: #46544B;
    text-shadow: 0px 0 90px #83846D;
    }
    h2  {
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-size: 20px;
    border: 2px dashed red;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 2px;

  }
  	span {
    color:red;
  }
